body {
    background: #8c52ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow-x: auto;
}
::-webkit-scrollbar {
    width: 12px;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #9468eb;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f100;
    border-radius: 5px;
  }

#weather-container {
    background: rgba(255, 255, 255, 0.3);
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}

h2, label, p {
    color: #fff;
    margin: 8px 0;
}

input {
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: rgba(221, 64, 64, 0.1);
    margin-top: 20px;
}

input:focus {
    outline: none;
}

button {
    background-color: #debff4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
}

button:hover {
    background-color: #8b48d7;
}

#temp-div {
    margin-top: 20px; /* Adjusted margin */
}

#temp-div p {
    font-size: 60px;
    margin: 0; /* Removed the margin-top and adjusted the margin */
}

#weather-info {
    font-size: 20px;
}

#weather-icon {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;
    margin-bottom: 0;
    display: none;
}

#hourly-forecast {
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: white;
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: #fff;
    margin-top: 10px;
}
.result-box ul {
    border-top: 1px #ffffff;
    padding: 15px 10px;
}
.result-box ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
}
.result-box ul list-style:hover{
    background-color: rgb(0, 111, 221);
}